<div class="footer fixed-bottom footer-primary footer-expand-md bg-primary">
  <footer class="footer">
    <div class="container d-flex justify-content-between text-white text-center">
      <div class="copyright">
        <p>Imprenta Nacional de la cultura</p>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled">
          <li>
            <a src="https://www.instagram.com/ImprentaCultura/" target="_blank" rel="noreferrer"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/ImprentaCultura/" target="_blank" rel="noreferrer"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/Laimprentadelacultura/" target="_blank" rel="noreferrer"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="https://imprentadelacultura.wordpress.com/" target="_blank" rel="noreferrer"><i class="bi bi-wordpress"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
