<div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Restablecer la contraseña</h1>

      <div class="alert alert-danger" *ngIf="keyMissing">
        <strong>Falta la clave de restablecimiento de contraseña.</strong>
      </div>

      <div class="alert alert-warning" *ngIf="!success && !keyMissing">
        <p>Elije una nueva contraseña</p>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <p>No se pudo restablecer su contraseña. Recuerde que una solicitud de contraseña solo es válida durante 24 horas.</p>
      </div>

      <p class="alert alert-success" *ngIf="success">
        <span><strong>Tu contraseña fue cambiada.</strong> Por favor </span>
        <a class="alert-link" (click)="login()">ingrese</a>.
      </p>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        La contraseña de confirmacion no coincide
      </div>

      <div *ngIf="!keyMissing">
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="form-group">
            <label class="form-control-label" for="password">Nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="New password"
              formControlName="newPassword"
            />
            <div
              *ngIf="
                passwordForm.get('newPassword').invalid &&
                (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required">
                Tu contraseña es requerida.
              </small>
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength">
                Su contraseña debe tener al menos 4 caracteres.
              </small>
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength">
                Su contraseña no puede tener más de 50 caracteres.
              </small>
            </div>
            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="confirmPassword">Nueva confirmación de contraseña</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm the new password"
              formControlName="confirmPassword"
            />
            <div
              *ngIf="
                passwordForm.get('confirmPassword').invalid &&
                (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required">
                Se requiere su contraseña de confirmación.
              </small>
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                Su contraseña de confirmación debe tener al menos 4 caracteres.
              </small>
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                Su contraseña de confirmación no puede tener más de 50 caracteres.
              </small>
            </div>
          </div>
          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Cambiar clave</button>
        </form>
      </div>
    </div>
  </div>
</div>
