<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tintaPortada">
            <h2><span>Tinta Portada</span> {{tintaPortada.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tinta</span></dt>
                <dd>
                    <div *ngIf="tintaPortada.tinta">
                        <a [routerLink]="['/tinta', tintaPortada.tinta?.id, 'view']">{{tintaPortada.tinta?.id}}</a>
                    </div>
                </dd>
                <dt><span>Portada</span></dt>
                <dd>
                    <div *ngIf="tintaPortada.portada">
                        <a [routerLink]="['/portada', tintaPortada.portada?.id, 'view']">{{tintaPortada.portada?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tinta-portada', tintaPortada.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
