<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Registro</h1>

      <div class="alert alert-success" *ngIf="success"><strong>Registro guardado!</strong> Revisa tu email para confirmar.</div>

      <div class="alert alert-danger" *ngIf="error"><strong>Registro fallido!</strong> Intenta de nuevo.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists"><strong>Nombre registrado anteriormente!</strong> Por favor elije otro.</div>

      <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>El correo esta actualmente en uso!</strong> Por favor elije otro.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        ¡La contraseña y su confirmación no coinciden!
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="form-group">
          <label class="form-control-label" for="login">Usuario</label>
          <input type="text" class="form-control" id="login" name="login" placeholder="Your username" formControlName="login" />
          <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
              Nombre de usuario requerido.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength">
              Su nombre de usuario debe tener al menos 1 carácter.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength">
              Su nombre de usuario no puede tener más de 50 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern">
              Su nombre de usuario solo puede contener letras y dígitos.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Your email" formControlName="email" />
          <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required">
              Su correo electrónico es requerido.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid">
              Su correo electrónico es invalido.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength">
              Su correo electrónico debe tener al menos 5 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength">
              Su correo electrónico no puede tener más de 100 caracteres.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="password">Nueva contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="New password" formControlName="password" />
          <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required">
              Tu contraseña es requerida.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength">
              Su contraseña debe tener al menos 4 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength">
              Su contraseña no puede tener más de 50 caracteres.
            </small>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">New password confirmation</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm the new password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              registerForm.get('confirmPassword').invalid &&
              (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required">
              Se requiere su contraseña de confirmación.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength">
              Su contraseña de confirmación debe tener al menos 4 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength">
              Su contraseña de confirmación no puede tener más de 50 caracteres.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Registrar</button>
      </form>
      <p></p>
      <div class="alert alert-warning">
        <span>Si quieres</span>
        <a class="alert-link" (click)="openLogin()">iniciar sesión</a
        ><span
          >, puede probar las cuentas predeterminadas:<br />- Administrador (login = "admin" y contraseña = "admin") <br />-Usuario
          (login="usuario" y contraseña="usuario").</span
        >
      </div>
    </div>
  </div>
</div>
