<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="costosIndirectos">
            <h2><span>Costos Indirectos</span> {{costosIndirectos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{costosIndirectos.cantidad}}</span>
                </dd>
                <dt><span>Libro</span></dt>
                <dd>
                    <div *ngIf="costosIndirectos.libro">
                        <a [routerLink]="['/libro', costosIndirectos.libro?.id, 'view']">{{costosIndirectos.libro?.id}}</a>
                    </div>
                </dd>
                <dt><span>Extras</span></dt>
                <dd>
                    <div *ngIf="costosIndirectos.extra">
                        <a [routerLink]="['/extra', costosIndirectos.extra?.id, 'view']">{{costosIndirectos.extra?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/costos-indirectos', costosIndirectos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
