<div>
    <h2 id="page-heading">
        <span>Tinta Tripa AS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tinta-tripa-a" [routerLink]="['/tinta-tripa-a/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Tinta Tripa A
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tintaTripaAS?.length === 0">
        <span>No tintaTripaAS found</span>
    </div>
    <div class="table-responsive" *ngIf="tintaTripaAS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tinta.id"><span>Tinta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tripaA.id"><span>Tripa A</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tintaTripaA of tintaTripaAS ;trackBy: trackId">
                <td><a [routerLink]="['/tinta-tripa-a', tintaTripaA.id, 'view' ]">{{tintaTripaA.id}}</a></td>
                <td>
                    <div *ngIf="tintaTripaA.tinta">
                        <a [routerLink]="['/tinta', tintaTripaA.tinta?.id, 'view' ]" >{{tintaTripaA.tinta?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tintaTripaA.tripaA">
                        <a [routerLink]="['/tripa-a', tintaTripaA.tripaA?.id, 'view' ]" >{{tintaTripaA.tripaA?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tinta-tripa-a', tintaTripaA.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tinta-tripa-a', tintaTripaA.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tinta-tripa-a', { outlets: { popup: tintaTripaA.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tintaTripaAS?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
