<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tinta-tripa-a-heading">Create or edit a Tinta Tripa A</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tinta">Tinta</label>
                    <select class="form-control" id="field_tinta" name="tinta" formControlName="tinta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tintaOption.id === editForm.get('tinta').value?.id ? editForm.get('tinta').value : tintaOption" *ngFor="let tintaOption of tintas; trackBy: trackTintaById">{{tintaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tripaA">Tripa A</label>
                    <select class="form-control" id="field_tripaA" name="tripaA" formControlName="tripaA">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tripaAOption.id === editForm.get('tripaA').value?.id ? editForm.get('tripaA').value : tripaAOption" *ngFor="let tripaAOption of tripaas; trackBy: trackTripaAById">{{tripaAOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
