<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tintaTripaB">
            <h2><span>Tinta Tripa B</span> {{tintaTripaB.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tinta</span></dt>
                <dd>
                    <div *ngIf="tintaTripaB.tinta">
                        <a [routerLink]="['/tinta', tintaTripaB.tinta?.id, 'view']">{{tintaTripaB.tinta?.id}}</a>
                    </div>
                </dd>
                <dt><span>Tripa B</span></dt>
                <dd>
                    <div *ngIf="tintaTripaB.tripaB">
                        <a [routerLink]="['/tripa-b', tintaTripaB.tripaB?.id, 'view']">{{tintaTripaB.tripaB?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tinta-tripa-b', tintaTripaB.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
